@font-face {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins Regular"), url("../webroot/fonts/Poppins-Regular.woff2") format("woff2"), url("../webroot/fonts/Poppins-Regular.woff") format("woff"); }

@font-face {
  font-style: normal;
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

body {
  margin: 0;
  padding: 1rem; }

img {
  width: 100%; }

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000; }

.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000; }

.info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000; }

.profile {
  padding: 1rem; }

.profile ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0; }

.profile li {
  list-style: none; }

.profile a {
  text-decoration: none; }

li:nth-of-type(2),
li:nth-of-type(4),
li:nth-of-type(6) {
  margin-top: 4rem; }

.profession {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: PT Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000; }

.team_profile {
  display: flex; }

.team_name a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000; }

@media (min-width: 1114px) {
  main {
    margin: 4rem; }
  .masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem; }
  .info {
    width: 439px;
    height: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px; }
  .profile ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 0; }
  li:nth-of-type(5) {
    margin-top: 8rem; }
  .team_name a {
    font-size: 18px; } }

.copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  text-align: center; }
